
<% if(process.env.dev == 'true'){ %>
  <h3>DEV ENVIRONMENT</h3>
<% } %>

<% include ./navbar.ejs %>

<!--<% console.log('process env: ' + process.env.dev) %>-->

this is the header
<br>
These are links:
<br>
<a href="/index">Index</a> |
<a href="/whatever">Whatever</a>
<a href="/calendar">Calendar</a>
<a href="/">Home</a>
<a href="/logout">Logout</a>