<!DOCTYPE html>
<html ng-app="HomeApp">
    
<head>
<% include ./partials/head %>
</head>


    <body>
    Sign-In Success!        
    </body>
    
    
    
    
    <footer>
    </footer>
    
</html>