<!DOCTYPE html>
<html ng-app="LoginApp">
    
<head>
<% include ./partials/head %>
<% include ./partials/landingHeader %>
<!--<script src="../public/js/indexController.js"></script>-->
</head>



<body id="landing-page" class="container-fluid">
<div class="container">
    <div class="row">
        <div class="col-sm-12 center">
            <img id="site-logo" class="img-responsive" src="/assets/logo-crappy-aliasing.png" alt="Responsive Image">
        </div>
        
        <div class="col-sm-offset-2 col-sm-8 center-text">
        <a href="/auth/google" class="btn btn-primary"><span class="fa fa-google"></span>  Sign-in With Google</a>
        </div>
        
    </div>
</div>
    
    

</body>
    <footer>
    </footer>

</html>