html {
    background: url("background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /*position: absolute;*/
  background-size: cover;
  height:100%;

}


.container-fluid {
  background-color: blue;
}

.col-sm-6 {
  background-color: red;
}

.center-text {
  text-align: center;
}
/*TODO: so, this doesn't work, but we need to  probably 
get rid of the scrollbar on the monthly calendar? */
#calendar {
  height: 100%;
}

.error {
  color: red;
}

.display-1 {
   font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", 
   "Bitstream Vera Sans Bold", "Arial Black", sans serif;
   font-size: 4.5em;
   font-weight: bold;
   text-align: center;
   color: black;
   -webkit-text-fill-color: white; 
   -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: black;
}

/*#landing-page {*/
/*    background: url("background.jpg") no-repeat center center fixed; */
/*   -webkit-background-size: cover;*/
/*   -moz-background-size: cover;*/
/*   -o-background-size: cover;*/
   /*position: absolute;*/
/*  background-size: cover;*/
/*  height:100%;*/
/*}*/

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/




    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {


    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {


    }

    /* Medium Devices, Desktops */
    @media (min-width : 992px) {

      #site-logo {
              max-height: 50%;
              max-width: 50%;
    }
      }
    

    /* Large Devices, Wide Screens */
    @media (min-width : 1200px) {

      #site-logo {
              max-height: 50%;
              max-width: 50%;
      }
    }



    