<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
</head>

<body  style="background-color:powderblue;">

            <p class="error-title">401 Unauthorized</p>
            <p class="error-title">You Tried Accessing Our Website Without Signing In!</p>
             <br><br><br>
            <img id="site-logo" class="img-responsive" src="/assets/sad panda.jpg" alt="Responsive Image">
            <a class="error-return" href="/">Back to Home</a>
           
        

</body>

</html>