<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
</head>

<body  style="background-color:powderblue;">

            <p class="error-title">404 Not Found</p>
            <p class="error-title">That Link Doesn't Exist</p>
             <br><br><br>
            <img id="site-logo" class="img-responsive" src="/assets/404.jpg" alt="Responsive Image">
            <br><br>
            <a class="error-return" href="/">Back to Home</a>
           
        

</body>

</html>